<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="./scripts/freelance.js"></script>
</head>
<body>
    <div>
        <button onclick="location.href='/'">Home</button>
        <button onclick="location.href='/links'">Links</button>
        <button onclick="location.href='/post'">Post a Company</button>
    </div>
    <section>
        <h1>Freelance Companies</h1>
        <div id="resourceCont">
            <%  if (companies && companies.length > 0) { %>
                <ul>
                    <% companies.forEach(company => { %>
                        
                            <strong><%= company.name %></strong> 

                        
                    <% }); %>
                </ul>
            <% } else { %>
                <p>No companies found.</p>
            <% } %>
        </div>
    </section>
    
</body>
</html>