<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobBar</title>
    <link rel="stylesheet" href="/css/index.css">   
    <link rel="icon" href="/icons/jobbar.png">
</head>
<body>
    <main class="bob">
        <img src="/icons/jobbar.png" width="100" height="100">
        <h1 class="site-title">JobBar</h1>
        <div class="button-row">
            <button id="companies" class="btn" onclick="location.href='/companies'">Companies</button>
            <button class="btn" onclick="location.href='/allJobs'">Contracts</button>
            <button class="btn" onclick="location.href='/profile'">Profile</button>
        </div>
        <h3 style="margin-bottom: 0; display: flex; gap: 6px;">
            <div>Signed in as</div>
            <div style="color: rgb(180, 67, 84);"><%= user.username %></div>
        </h3>
        <div style="display: flex; flex-direction: row; align-items: center; gap: 5px;">
            <img src="/icons/info.png" width="12" height="12" style="opacity: 0.3; filter: invert(1);">
            <h5 style="font-weight: 100; opacity: 0.3;">Created by Carlos Ort-Patrick and Gabriella Stevens</h5>
        </div>
        <div style="font-size: 0.6rem; opacity: 0.5; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);">NO REFUNDS</div>
    </main>
</body>
</html>