:root{
    --card-bg: rgba(255,255,255,0.03);
    --bg-a: #2b0b1e; /* deep maroon */
    --bg-b: #61203a; /* muted plum */
    --accent: #1a1b79; /* dark pink */
    --accent-2: #8a88f1; /* lighter pink */
    --muted: rgb(255, 238, 238);
}

.job-meta {
    display: flex;
    font-size: 0.9em;
    padding: 2px 10px 2px 10px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.job-meta.taken {
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.281);
    border: none;
    min-height: 60px;
}

.job-meta .fire {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(49, 49, 49);
    border: none;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

.fr {
    transition: all 0.2s ease;
}

.job-meta .text {
    position: absolute;
    background-color: rgb(36, 37, 43);
    padding: 5px 8px;
    top: 0;
    border-radius: 4px;
    font-size: 0.85em;
    white-space: nowrap;
    opacity: 0;
    font-weight: 400;
    pointer-events: none;
    transition: opacity 0.2s ease;
    right: 33px;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.493);
    z-index: 50;
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.fr:hover .text {
    opacity: 1;
}

.job-meta .fr:hover {
    scale: 1.05;
}
